<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
       
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=Category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="#">
                <a href="{% url 'products' %}?Category=Scarfs" class="dropdown-item">Scarfs</a>
                <a href="{% url 'products' %}?Category=Shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?Category=Jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?Category=Others" class="dropdown-item">Others</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gifts-for-her-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electrical
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts-for-her-link">
                <a href="{% url 'products' %}?Category=Portable Speakers" class="dropdown-item">Portable Speakers</a>
                <a href="{% url 'products' %}?Category=Headphones" class="dropdown-item">Headphones</a>
                <a href="{% url 'products' %}?Category=Kitchen" class="dropdown-item">Kitchen</a>
                <a href="{% url 'products' %}?Category=Living" class="dropdown-item">Living</a>
            </div>
        </li>
    </ul>
</div>